= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    .row
      .col-xs-4
      .col-xs-2
        = f.label :title
      .col-xs-3    
        = f.text_field :title
      .col-xs-3    
  .field
    .row
      .col-xs-4
      .col-xs-2
        = f.label :description
      .col-xs-3
        = f.text_area :description
      .col-xs-3    
  .field
    .row
      .col-xs-4
      .col-xs-2
        = f.label :image_url
      .col-xs-3
        = f.text_field :image_url
      .col-xs-3
  .field
    .row
      .col-xs-4
      .col-xs-2
        = f.label :price
      .col-xs-3    
        = f.text_field :price
      .col-xs-3
  .actions
    .row
      .col-xs-4
      .col-xs-4
        = f.submit 'Save'
      .col-xs-4   