.container
  %h1 Product Listing
  .row{:style=>"padding-bottom:30px;"}
    .col-xs-6
      %h3 Product and Description
    .col-xs-1
      %h3 Price
    .col-xs-3
      %h3 Image
    .col-xs-2
      %h3 Options
  - @products.each do |product|
    %ul.list-group
      %li.list-group-item{:style=>"box-shadow:0 0 5px;"}  
        .row
          .col-xs-12
            %h4
              = product.title
        .row      
          .col-xs-6{:style=>"padding-top:10px;"}    
            = product.description
          .col-xs-1
            Rs.
            = product.price
          .col-xs-3
            %img.img-responsive{:src=>product.image_url}
          .col-xs-2
            %ul.list-group
              %li.list-group-item
                = link_to 'Show', product
              %li.list-group-item
                = link_to 'Edit', edit_product_path(product)
              %li.list-group-item 
                = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Product', new_product_path