%h1 Product Listing
- @products.each do |product|
  .row
    .col-xs-12
      = product.title
    .col-xs-4    
      = product.description
    .col-xs-4   
      = product.price
    .col-xs-4
      = link_to 'Show', product
      = link_to 'Edit', edit_product_path(product)
      = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
